<div class="col-xs-6 col-xs-offset-3">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <%= @user.name %>
        </div>
        <div class="panel-body">
            <%= link_to "See attractions", attractions_path %>
        </div>
        <ul class="list-group">
            <% if @user.admin? %>
                <li class="list-group-item">ADMIN</li>
            <% else%>
                <li class="list-group-item">Height: <%= @user.height %></li>
                <li class="list-group-item">Tickets: <%= @user.tickets %></li>
                <li class="list-group-item">Mood: <%= @user.mood %></li>
            <% end %>
        </ul>
    </div>
</div>